<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3">

                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario" name="usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña" name="password">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
                </div>
            </form>
            {{#if error}}
            <p>usuario y/o Contraseña incorrecta</p>
            {{/if}}
        </div>
    </div>
</div>