<div class="contacto">
    <div>
        <h2>Contacto Rapido</h2>
        <form action="" method="" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text">
            </p>
            <p>
                <label for="">Email</label>
                <input type="email">
            </p>
            <p>
                <label for="">Telefono</label>
                <input type="text">
            </p>
            <p>
                <label for="">Mensaje</label>
                <textarea name="" id=""> </textarea>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    </div>
    <div class="datos">
        <h2>Otras vias de comunicacion</h2>
        <p>Tambien puede contactarse con nosotros usando los siguientes medios</p>
        <ul>
            <li>Telefono 12345</li>
            <li>mail:</li>
            <li>Instagram:</li>
            <li>Mail:</li>
            <li>Istragram:</li>

        </ul>

    </div>
</div>