<div class="homeimg">
            <img src="images/home/img01.jpg" alt="">
        </div>
        <div class="columnas">
            <section class="bienbenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum mollitia fugit aliquam repellat,
                    dignissimos pariatur distinctio, temporibus molestiae non veritatis a adipisci quaerat dolorum quod
                    recusandae facere, maiores esse minus.</p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - Zapatos.com</span>

                </div>
            </section>

        </div>
