<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut voluptatibus perspiciatis quas cupiditate
                quo iste dolorem mollitia qui totam quos aliquam quisquam repellendus nesciunt modi ab aut saepe,
                expedita voluptatem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, earum asperiores magnam ullam esse
                pariatur assumenda veniam, amet perspiciatis saepe fugiat consectetur quae! Ullam debitis dolores
                cupiditate a suscipit eos.</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sapiente optio, facilis rerum,
                        architecto quaerat inventore itaque deleniti accusamus ad harum aperiam! Laboriosam molestias
                        nam eos placeat blanditiis! Quod, pariatur!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                    <h5>Diana Reyes </h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sapiente optio, facilis rerum,
                        architecto quaerat inventore itaque deleniti accusamus ad harum aperiam! Laboriosam molestias
                        nam eos placeat blanditiis! Quod, pariatur!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sapiente optio, facilis rerum,
                        architecto quaerat inventore itaque deleniti accusamus ad harum aperiam! !</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sapiente optio, facilis rerum,
                        architecto quaerat inventore itaque deleniti accusamus ad harum aperiam! Laboriosam molestias
                        nam eos placeat blanditiis! Quod, pariatur!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sapiente optio, facilis rerum,
                        architecto quaerat inventore itaque deleniti accusamus ad harum aperiam! Laboriosam molestias
                        nam eos placeat blanditiis! Quod, pariatur!</p>

                </div>


            </div>
        </section>