 <h2>Novedades</h2>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laudantium dolores pariatur animi non
                labore officia, enim harum sunt mollitia veritatis fugiat nam quae at eos reprehenderit repudiandae
                libero sint!</p>
            <hr />
        </div>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laudantium dolores pariatur animi non
                labore officia, enim harum sunt mollitia veritatis fugiat nam quae at eos reprehenderit repudiandae
                libero sint!</p>
            <hr />
        </div>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laudantium dolores pariatur animi non
                labore officia, enim harum sunt mollitia veritatis fugiat nam quae at eos reprehenderit repudiandae
                libero sint!</p>
            <hr />
        </div>