/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 16px;
    /*base */
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
    /* puede ser 1 rem 0*/
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    /*sirvio para sacar el margen y juntarlo al header*/
    padding: 0;
    display: flex;
    /* justify-content: stretch; */

}

nav ul li {
    /* display: block; */
    flex-grow: 1;
    /*La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex),
    en su dirección principal.*/

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #ccc;
    clear: both;
    /*se coloca al final de todo */
    color: #333;
    text-align: center;
    padding: 10px 0;
    /*ancho de la caja */
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

.holder {
    max-width: 960px;
    margin: 0 auto;

}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

/*inicio home*/

.bienvenidos {
    width: 75%;
    padding-right: 10px;
}

.testimonios {
    width: 25%;
}


.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
    /* hace de caja*/
}

.testimonio .autor {
    font-size: 10px;
    display: block;
    text-align: center;
}

/*fin home*/
/*inicio nosotros*/

.historia p {
    font-size: 0.7rem;
    /* font-weight: 500;
    color: #333; */
}



.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2%;
    
}
.persona:last-child{
    margin-right: 0;
}

/*
.persona:first-child{
    margin-left: 0;
}
*/

/* .persona:nth-child(3){
    background-color: yellow;
} */


/* .persona:nth-child(2n+1) {
    background-color: orange;
} */

.persona:nth-child(even) { /*par*/
    background-color: yellow;
}

.persona:nth-child(odd) { /*impar*/
    background-color: orange;
}




.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    /*peso de la tipografia*/
    color: #2e64a1;
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 10px;
    font-style: italic;
}

.persona p {
    color: #666;
    font-size: 10px;
}
/*fin nosotros*/


